#board-wrapper {
  height: 450px;
  width: 450px;
  border: black 2px solid;
  cursor: none;
}

#robot {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 15px;
  background: orange;
}

.tile {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.tile[tile-type=blank] {
	background: white;
}

.tile[tile-type=mover] {
	background-image: url(sprites/mover.png);
}

.tile[tile-type=reader] {
	background-image: url(sprites/reader.png);
}

.tile[tile-type=start] {
	background-image: url(sprites/start.png);
}

.tile[tile-type=accept] {
	background-image: url(sprites/accept.png);
}

[rotation=left] {
	transform: rotate(0turn)
}

[rotation=up] {
	transform: rotate(0.25turn)
}

[rotation=right] {
	transform: rotate(0.5turn)
}

[rotation=down] {
	transform: rotate(0.75turn)
}

/* idk how to do this more simply */
[flipped=true][rotation=left] {
  transform: scaleY(-1) rotate(0turn)
}

[flipped=true][rotation=up] {
  transform: scaleX(-1) rotate(0.25turn)
}

[flipped=true][rotation=right] {
  transform: scaleY(-1) rotate(0.5turn)
}

[flipped=true][rotation=down] {
  transform: scaleX(-1) rotate(0.75turn)
}

#placement-info {
  position: absolute;
  pointer-events: none;
  cursor: none;
  left: -100px;
  top: -100px;
}
